---

import avatarImage from "../assets/avatar.png"
import fundo from "../assets/fundo.jpg"

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>;;;;</title>
  </head>
  <body>
    <div class="flex justify-center bg-gray-200 w-1/2 h-1/2">
      <div class="w-24 h-24 bg-red-500">Div 1</div>
      <div class="w-48 h-24 bg-green-500">Div 2</div>
      <div class="w-72 h-24 bg-blue-500">Div 3</div>
    </div>
  </body>
</html>